{% extends 'main/base.html' %}

{% block content %}
    <div class="row">
      <h1>About Us</h1>
      <div class="col">
        <p>
            Data World is a blog related to Data Science, Data Engineering and Data analytics.
            Data science blogs are a great way to learn more about the field.
            You get an inside perspective on what it's really like to work as a data scientist,
            as well as the opportunity to stay up to date with all the happenings of the industry.
            Learning is great. There is a quote that says: <i>"If you want to learn something, teach it"</i>.
        </p>
        <div class="center">
            <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=18.371093273162845%2C43.846459390459586%2C18.383882045745853%2C43.853082428188074&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/#map=17/43.84977/18.37749">View Larger Map</a></small>
        </div>
      </div>
    </div>
{% endblock %}
