<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Compiled and minified CSS -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <meta charset="UTF-8">
    <title>News</title>
</head>
<body>
<header>
    <div class="navbar-fixed">
        <div class="row">
            <nav>
                <div class="nav-wrapper black">
                    <div class="col s12">
                        <a href="/" class="brand-logo">Data World</a>
                        <a href="/" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                        <ul class="right hide-on-med-and-down">
                            {% include "main/includes/navbar.html" %}
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <ul class="sidenav" id="mobile-demo">
        {% include "main/includes/navbar.html" %}
    </ul>
</header>

<main>
    {% include "main/includes/messages.html" %}

    <div class="container">
        <br>
        {% block content%}
        {% endblock %}
    </div>
</main>


<footer class="page-footer black">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">The World of the Data</h5>
                <p class="grey-text text-lighten-4">"It is a capital mistake to theorize before one has data."</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about/">About Us</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>


</body>

<script>M.AutoInit();</script>
<script>
    $(document).ready(function(){
        $('.sidenav').sidenav();
        $('.collapsible').collapsible();
    });
</script>

</html>