{% extends 'main/base.html' %}

{% block content %}
    <div class="row">
      <h3><i class="material-icons">account_circle</i> {{user.username}}</h3>
      <div class="col s12 m6 l4">
           <table>
        <tbody>
          <tr>
            <td><i>First name</i></td>
            <td>{{user.first_name}}</td>
          </tr>
          <tr>
            <td><i>Last name</i></td>
            <td>{{user.last_name}}</td>
          </tr>
          <tr>
            <td><i>Username</i></td>
            <td>{{user.username}}</td>
          </tr>
        <tr>
            <td><i>Email</i></td>
            <td>{{user.email}}</td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
{% endblock %}